:root {
  font-family: 'Nunito', sans-serif;
  line-height: 1.5;
  padding: 50px 100px;
  box-sizing: border-box;
  height: 100%;
  background-color: #ccc;
}

#root{
  height: 100%;
}

body{
  height: 100%;
}